/* contianer that holds main (left) and sidebar (right) of ticket */
.ticket-wrapper {
    display: flex;
    gap:1.17%;
    flex-shrink: 0;
    max-width: 600px; 
    width: 100%;
}

/* absolutely positioned stamps on main of ticket */
.ticket-decorations {
    position: absolute;
}

/* main part of ticket contains main left and main right */
.ticket-main {
    background:white;
    color: var(--color-dark-grey);
    display: flex;
    justify-content:center;
    gap:5%;
    padding: 3.67% 4.4%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    border: 2px solid var(--color-light-grey);
    width:77.3%;
}

/* left text column of main ticket section displays header, gate, title */
.ticket-main-left {
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-top:2.49%;
}

.ticket-main-right {
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content: end;
}

/* contains name and date in one row */
.ticket-header {
    display: flex;
    gap:4.1%;
}

.ticket-name {
    display:flex;
    flex-direction:column;
}

.ticket-date {
    display:flex;
    flex-direction:column;
}

.ticket-gate {
    display:flex;
    flex-direction:column;
}
/* same font title for a ticket section */
.label {
    font-size:22px;
    font-family:var(--font-inconsolata);
    font-weight:700;
}

/* display data for ticket section */
.value {
    font-size:22px;
    font-family:var(--font-inconsolata);
}

/* displays name of project */
.ticket-title {
    font-size:34px;
    font-family:var(--font-inconsolata);
    font-weight:900;
}

.ticket-description {
    font-size:18px;
    font-family:var(--font-inconsolata);
    line-height: 1.1;
}

/* right part of ticket wrapper, shows techstack of project */
.ticket-sidebar {
    height: 100%;
    background:var(--color-light-grey);
    display:flex;
    flex-direction:column;
    gap:8%;
    padding:3.5% 2%;
    width:22%;
    border-top-right-radius: 3.3%;
    border-bottom-right-radius: 3.3%;
    position:relative;
    flex-shrink: 0;
    min-height: 100%; 
    height: auto;
}

.ticket-sidebar::before {
    content: '';
    position: absolute;
    top: -3.5%;
    left: -4.6%;
    width: 12%;
    height: 6%;
    border-radius: 50%;
    background: var(--color-dark-grey);
}

.ticket-sidebar::after {
    content: '';
    position: absolute;
    bottom: -3.5%;
    left: -4.6%;
    width: 12%;
    height: 6%;
    border-radius: 50%;
    background: var(--color-dark-grey);
}

.flightcode {
    position:absolute;
    right: 11px;
    bottom: 22px;
    width:18px;
    height:auto;
}

/* column of list items */
.tech-list {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:6px;
}

/* each tech item */
.tech-item {
    background-color: var(--color-accent);
    color: var(--color-off-white);
    border-radius:999px;
    padding: 2px 8px;
    font-size:17px;
    font-family: var(--font-inconsolata);
}

@media (max-width: 40rem) {
  .ticket-wrapper {
    flex-direction: column;
    gap: 5px;
  }

  .ticket-main {
    width: 100%;
    border-radius: 2%;
  }

  .ticket-sidebar {
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 3% 5%;
    border-radius: 2%;
    position: relative;
  }

  .barcode {
    padding-bottom:3%;
  }

  .tech-list {
    width:100%;
    flex-direction:row;
  }

  .flightcode {
    position: absolute;
    width: 4%;
    left:80%;
    top:-40%;
    transform:rotate(90deg);
  }

  .ticket-sidebar::before,
  .ticket-sidebar::after {
    display: none;
  }
}
