.ticket-wrapper {
    display: flex;
    gap:1%;
    flex-shrink: 0;
    width: 640px;
    max-width: calc(100vw - 120px);
}

.ticket-decorations {
    position: absolute;
}

.ticket-main {
    background:white;
    color: var(--color-dark-grey);
    display: flex;
    flex-direction:column;
    justify-content:start;
    gap:15px;
    padding: 3.67% 4.4% 2% 4.4%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width:75%;
}

.ticket-main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content:center;
}

.ticket-main-left {
    display:flex;
    flex-direction: column;
    width:50%;
    gap:15px;
}

.ticket-main-right {
    width:43%;
    display:flex;
    flex-direction:column;
    justify-content: start;
}

.ticket-header {
    display: flex;
    gap:8%;
}

.ticket-name {
    display:flex;
    flex-direction:column;
}

.ticket-date {
    display:flex;
    flex-direction:column;
}

.ticket-gate {
    display:flex;
    flex-direction:column;
}

.label {
    font-size:clamp(18px, 5vw, 20px);
    font-family:var(--font-inconsolata);
    font-weight:700;
    line-height: 1;
}

.value {
    font-size:clamp(18px, 5vw, 20px);
    font-family:var(--font-inconsolata);
    line-height: 1;
}

.ticket-title {
    font-size:clamp(24px, 6vw, 34px);
    font-family:var(--font-inconsolata);
    font-weight:900;
    line-height: 1;
}

.ticket-description {
    font-size:18px;
    font-family:var(--font-inconsolata);
    line-height: 1.1;
}

.ticket-sidebar {
    height: 100%;
    background:var(--color-light-grey);
    display:flex;
    flex-direction:column;
    gap:5%;
    padding:3.5% 2%;
    width:24%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position:relative;
    flex-shrink: 0;
    min-height: 100%; 
    height: auto;
    background: var(--color-accent);
}

.ticket-sidebar::before {
    content: '';
    position: absolute;
    top: -3.5%;
    left: -4.6%;
    width: 12%;
    height: 6%;
    border-radius: 50%;
    background: var(--color-dark-grey);
}

.ticket-sidebar::after {
    content: '';
    position: absolute;
    bottom: -3.5%;
    left: -4.6%;
    width: 12%;
    height: 6%;
    border-radius: 50%;
    background: var(--color-dark-grey);
}

.flightcode {
    position:absolute;
    left: 15px;
    top: 70px;
    width:90px;
    height:auto;
}

.tech-list {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    gap:6px;
    padding-bottom: 10px;
}

.tech-item {
    background-color: var(--color-off-white);
    color: var(--color-dark-grey);
    border-radius:999px;
    padding: 2px 8px;
    font-size:17px;
    font-family: var(--font-inconsolata);
    white-space: nowrap;
    border: solid var(--color-dark-grey);
}

@media (max-width: 672px) {
  .ticket-wrapper {
    flex-direction: column;
    gap: 5px;
    width: calc(100vw - 140px);
    max-width: calc(100vw - 140px);
    margin: 0 10px;
  }

  .ticket-main {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 7px;
  }

  .ticket-sidebar {
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 3% 5%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 0px;
    position: relative;
  }

  .barcode {
    padding-bottom:3%;
  }

  .tech-list {
    width:100%;
    flex-direction:row;
    flex-wrap: wrap;
  }

  .flightcode {
    top: 12px;
    left: 40%;
  }

  .ticket-sidebar::before,
  .ticket-sidebar::after {
    display: none;
  }
}

@media (max-width: 528px) {
    .ticket-main-container {
        flex-direction: column;
    }
    .ticket-main-left {
        display:flex;
        flex-direction: column;
        width:90%;
        gap:15px;
    }

    .ticket-main-right {
        width:90%;
        display:flex;
        flex-direction:column;
        justify-content: start;
    }

    .barcode {
        padding-bottom:3%;
        width:35%;
    }

    .flightcode {
        top: 5px;
        left: 50%;
        width:35%;
    }
}