.notebook-wrapper {
  position: relative;
  width: 700px;
  height: auto;
  display: flex;
  justify-content:center;
}
.spiral {
    position:absolute;
    z-index: 40;
    top:-15px;
}

.top-page {
  padding-top: 70px;
  padding-bottom:40px;
  padding-left:40px;
  padding-right:40px;
  position: relative; 
  z-index: 30; 
  background-color: white;
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  gap:30px;
}

.bottom-page {
  position: absolute;
  top: 63%;
  left: -5px;
  z-index: 10; 
  width: 700px;
  height: 40%;
  background-color: #EFEFEF;
  transform: rotate(4deg);
}

.middle-page {
  position: absolute;
  height:50%;
  top: 54%;
  left: 3px;
  z-index: 20; 
  width: 698px;
  background-color: #D2D2D2;
  transform: rotate(-1.7deg);
}