.notebook-wrapper {
  position: relative;
  width: 700px;
  height: auto; /* Added fixed height for better visualization */
  display: flex;
  justify-content:center;
}
.spiral {
    position:absolute;
    z-index: 40;
    top:-15px;
}

.top-page {
  padding: 40px;
  position: relative; /* Changed from default to relative */
  z-index: 30; /* Highest - stays on top */
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
}

.bottom-page {
  position: absolute;
  top: 63%;
  left: -5px;
  z-index: 10; /* Medium - between bottom and top */
  width: 700px;
  height: 40%;
  background-color: #EFEFEF;
  transform: rotate(4deg);
}

.middle-page {
  position: absolute;
  height:50%;
  top: 54%;
  left: 3px;
  z-index: 20; /* Lowest - stays at the back */
  width: 698px;
  background-color: #D2D2D2;
  transform: rotate(-1.7deg);
}