@import "tailwindcss";

body {
  @apply bg-dark-grey text-off-white font-normal;
  font-family: var(--font-effra);
  overflow-x: hidden;
}

:root {
  --color-dark-grey: #262626;
  --color-off-white: #FBFBFB;
  --color-accent: #C7C2BB;
  --color-light-grey: #ACACAC;

  --font-effra: 'Effra Trial', sans-serif;
  --font-inconsolata: 'Inconsolata', sans-serif;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inconsolata-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Effra Trial';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Effra_Trial_Lt.woff') format('woff');
}

@font-face {
  font-family: 'Effra Trial';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Effra_Trial_Md.woff') format('woff');
}

@theme {
  --color-dark-grey: #262626;
  --color-off-white: #FBFBFB;
  --color-accent: #FB64B6;
  --color-light-grey: #ACACAC;

  --font-effra: Effra Trial, sans-serif;
  --font-inconsolata: Inconsolata, sans-serif;
}
